@import url('https://fonts.googleapis.com/css?family=Lobster');

body{
    margin: 0;
}
h1 {
    font-size: 150px;
    color: white;
    text-shadow: black 0 0 50px;
    font-family: Lobster,sans-serif;
    position: fixed;
    width: 100%;
    z-index: 100;
    margin: 0;
    text-align: center;
}
section div{
    position: fixed;
    top: 0;
    left: 0;
}
#aretha {
    background-image: url("practica01/img/aretha.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
}
#diana{
    background-image: url("practica01/img/diana.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 25%;
    height: 100%;
    width: 25%;
}
#dionnne {
    background-image: url("practica01/img/dionne.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 50%;
    height: 100%;
    width: 25%;
}
#etta {
    background-image: url("practica01/img/etta.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 75%;
    height: 100%;
    width: 25%;
}
